<div id="tutor_feat" class="text-black hidden my-5 PopularPosts relative">
  <div class="my-10">
    <div class="flex justify-between ">
      <span class="text-4xl font-bold items-center z-10 text-[#444]">DSE00 補習導師</span>
      <div class="items-center flex justify-center">
        <a href="/p/login.html" class="rounded-full border-2 border-black py-2 px-10">成為導師</a>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-5 gap-8 w-full 2xl:grid-cols-5 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 z-10" style="max-width: 2520px">
    <div class="z-10" v-for="item in Array(5)" v-show="isLoading">
      <el-skeleton :loading="loading" animated>
        <template #template>
          <el-skeleton-item style="height: 240px" class="!rounded-2xl" />
        </el-skeleton-item></template>
      </el-skeleton>
      <el-skeleton :rows="2" animated></el-skeleton>
    </div>
    <div class="z-10" v-for="tutor in tutors" :key="tutor.id" @click="goTo('tutorial',tutor.user)" class="cursor-pointer" v-if="!isLoading">
      <div class="w-full h-60 rounded-2xl mb-3 bg-center bg-cover flex items-end" :class="`bg-[url(${tutor.feature_image? tutor.feature_image: 'https://img.freepik.com/free-vector/school-classroom-interior-university-educational-concept-blackboard-table_1441-1694.jpg?w=1000'})]`">
        <div class="m-2 rounded w-20 h-20 relative block bg-cover flex items-center justify-center" :class="tutor.gender === 'F' ? 'bg-rose-100/70': 'bg-blue-100/70'">
          <div :class="tutor.approval ? 'shadow-xl shadow-green-300' : ''">
            <el-popover placement="right" trigger="hover">
              <div class="flex flex-col items-center">
                <div class="font-bold mb-2 flex items-center">
                  <span>{{tutor.name}}</span>
                  <el-popover trigger="hover" placement="top" v-if="tutor.approval">
                    <div class="flex justify-center text-sm text-gray-500">認證導師</div>
                    <template #reference>
                      <ion-icon name="checkmark-done-circle-outline" class="text-xl text-green-400 ml-2"></ion-icon>
                    </template>
                  </el-popover>
                </div>
                <span class="mb-2">{{options.gendersMap[tutor.gender]}}</span>
                <span class="mb-2">{{tutor.school}}</span>
                <span>{{tutor.topic}}</span>
              </div>
              <template #reference>
                <img :src="tutor.avator" alt="" width="60" class="rounded-full" loading="lazy border border-rose-600" />
              </template>
            </el-popover>
          </div>
        </div>
      </div>
      <div>{{tutor.name}} <ion-icon v-show="tutor.approval" name="checkmark-done-circle-outline" class="text-xl text-green-400"></ion-icon></div>
      <div class="block">
        <span v-for="subject in tutor.subjects" class="pr-2 text-slate-400">{{options.subjectsMap[subject]}}</span>
        <div class="block text-slate-400">
          <span v-for="location in tutor.locations" class="pr-2">{{location}}</span>
        </div>
        <div><span class="font-bold">${{tutor.smallestPrice}}</span> hour</div>
      </div>
    </div>
    <div v-if="!isLoading && tutors.length === 0" class="col-span-6 flex justify-center text-xl">暫時未有個案喔</div>
  </div>


</div>

<script>
  const tutor_feat = Vue.createApp({
    data() {
      return {
        token: Cookies.get("token"),
        baseUrl: "https://tutor-api.dse00.com/v1",
        isLoading: false,
        dialog: { visible: false, title: "", message: "", action: { title: "", link: "" } },
        isLogin: false,
        options: {},
        studentCases: [],
        tutors: [],
      };
    },
    async mounted() {
      document.querySelector("#tutor_feat").classList.remove("hidden");
      this.isLoading = true;
      await this.loadOptions();
      this.loadTutor();
      await this.loadStudentCase();
      this.isLoading = false;
    },
    methods: {
      goTo(target, id) {
        if (target === "student-case") {
          var url = `/p/student-case.html?case=${id}`;
          var win = window.open(url, "_blank");
          win.focus();
        }

        if (target === "tutorial") {
          var url = `/p/tutorial.html?tutor=${id}`;
          var win = window.open(url, "_blank");
          win.focus();
        }
      },
      async loadTutor() {
        const url = `tutorial-cases`;
        const data = await this.makeRequest(url);
        this.tutors = data.filter((tutor) => tutor.approval).slice(0, 5);
      },
      async loadOptions() {
        const options = await this.makeRequest("options/tutorial-options");
        this.options = {
          ...options,
          forms: options.forms.filter((form) => form.code > 100),
        };
      },
      async loadStudentCase(query = null) {
        const url = `student-cases${!!query ? `?${query}` : ""}`;
        const studentCases = await this.makeRequest(url);
        this.studentCases.data = studentCases.data.map((studentCase) => ({
          ...studentCase,
          subjects: studentCase.subjects.map((sub) => this.options.subjectsMap[sub]).join("  "),
        }));
      },
      async makeRequest(url, method = "GET", params, needWaiting = true) {
        const _url = `${this.baseUrl}/${url}`;
        const _response = await fetch(_url, {
          method,
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(params),
        });
        const response = await _response.json();
        return response;
      },
    },
    computed: {},
  });
  tutor_feat.use(ElementPlus);
  for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
    tutor_feat.component(key, component);
  }
  tutor_feat.mount("#tutor_feat");
</script>